body {
    padding-top: 56px;
    background-color: burlywood;
    font-family: 'Times New Roman', Times, serif;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: auto;
}

.navbar {
    background-color: #333;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

.col-sm-6 h4 {
    font-size: 1.5em;
    padding-left: 5px;
    padding-right: 5px;
}

.col-sm-6 p {
    font-size: 0.9em;
    padding-left: 5px;
    padding-right: 5px;
}

.col-sm-6 ul {
    font-size: 0.9em;
    padding-right: 5px;
}

#contact-form-row {
    padding-top: 15px;
}

#contact-info {
    text-align: center;
}

#faq h3 {
    font-size: 1em;
    padding-top: 2px;
    padding-bottom: 2px;
}

#faq p {
    font-size: 0.9em;
    padding-top: 2px;
    padding-bottom: 2px;
}

#contact-form-container {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    border: #333 2px solid;
}

#contact-form-container h4 {
    text-align: center;
}

.form-control {
    padding: 5px;
}

#appointment-form h5 {
    padding: 5px;
    text-align: center;
}

#number-input, #email-input {
    padding: 5px;
}   

#submit-button {
    padding: 5px;
    border-radius: 5px;
}

#submit-row {
    text-align: center;
    padding: 5px;
}

#contact-form {
    padding: 5px;
    border-radius: 5px;
    height: 100%;
}
